* {
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(219, 215, 194);
}

h1 {
    color: rgb(7, 7, 90);
    text-align: center;
}

.chef-image {
    display: block;
    margin-left: auto;
    margin-right: auto;

}
#vic-sponge-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#rhu-crum-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#carrot-cake-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    background-color: rgb(159, 138, 98);
}
.largetxt{
    font-size: 25;
}
p {
    margin-left:auto;
    margin-right:auto;
}

.inline {
    box-sizing: border-box;
    display: inline-block;
    padding: 20px 60px;
    background-color: rgb(151, 113, 113);
    width: 160px;
    height: 80px;
    text-align: center;

}